@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');
:root{
  --primary:#8B4513;
  --secondary:#C49A6C;
  --accent:#D4AF37;

  --background:#FAF7F2;
  --surface:#FFFFFF;

  --text:#2E2A27;
  --text-light:#6F665E;

  --border:#E8DED3;

  --success:#4C956C;
  --danger:#B23A48;

  --shadow:0 12px 30px rgba(0,0,0,.08);

  --radius:18px;

  --transition:.3s ease;

  --heading:'Playfair Display', serif;
  --body:'Poppins', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

body{
    margin:0;
    font-family:var(--body);
    background:var(--background);
    color:var(--text);
}

#root {
  min-height:100vh;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 3.3rem;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 2.2rem;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
} 
.btn{
    border-radius:999px;
    transition:.3s;
    font-weight:600;
}

.btn:hover{
    transform:translateY(-3px);
}
.card{
    border:none;
    border-radius:20px;
    box-shadow:var(--shadow);
    overflow:hidden;
    transition:.3s;
}

.card:hover{
    transform:translateY(-6px);
}
img{
    max-width:100%;
    display:block;
}
a{
    text-decoration:none;
    color:inherit;
}
::-webkit-scrollbar{
    width:10px;
}

::-webkit-scrollbar-thumb{
    background:#C49A6C;
    border-radius:20px;
}

::-webkit-scrollbar-track{
    background:#F3ECE5;
}